# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Data (Muy importante para no subir los CSVs gigantes)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Jupyter Notebooks
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Instructions
ETL-G01_2026-1_Workshop-3.md
ETL-G01_2026-1_Workshop-3.pdf
presentation.html